Source: openio-sds-swift-extended
Section: unknown
Priority: optional
Maintainer: Romain Acciari <romain.acciari@openio.io>
Build-Depends: debhelper (>= 9), python-dev, python-setuptools, python-pbr
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/openio-sds-swift-extended.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/openio-sds-swift-extended.git;a=summary

Package: openio-sds-swift-extended
Architecture: all
Depends: ${misc:Depends}, swift-proxy, openio-sds
Description: Swift Gateway for OpenIO SDS
 Swift Gateway for OpenIO SDS.
