#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	mkdir -p usr/bin
	mv grid-controller \
	   grid-apiserver  \
	   grid-discovery  \
	   grid-agent      \
	   gridctl         \
	   usr/bin
	dh_install
