#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/openio-netdata-plugins

include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_build:
	cd .. && \
	wget --no-check-certificate https://github.com/go-redis/redis/archive/v6.12.0.tar.gz && \
	tar zxf v6.12.0.tar.gz && \
	mkdir -p go/src/github.com/go-redis && \
	ls -l && \
	cd go/src && \
	ls -l && \
	ln -s ../../openio-netdata-plugins-* oionetdata && \
	cd github.com/go-redis && \
	ls -l && \
	ln -s ../../../../redis-* redis
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/openio.plugin/openio.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/zookeeper.plugin/zookeeper.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/container.plugin/container.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/command.plugin/command.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/fs.plugin/fs.plugin.go

override_dh_auto_install:
	mkdir -pv $(DESTDIR)/usr/lib/x86_64-linux-gnu/netdata/plugins.d
	install -m 0755 \
		openio.plugin \
		zookeeper.plugin \
		command.plugin \
		$(DESTDIR)/usr/lib/x86_64-linux-gnu/netdata/plugins.d
	# By default netdata will run all the plugins in plugin.d directory, which
	# is not the intended behavior. The plugins below won't be set executable
	# by default, and will instead be selectively activated when deploying.
	install -m 0644 \
		fs.plugin \
		container.plugin \
		$(DESTDIR)/usr/lib/x86_64-linux-gnu/netdata/plugins.d
