#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/oio-prometheus

include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_clean:
	# do nothing in order to keep the content of the dist/ directory

override_dh_auto_test:
	# do nothing in order to prevent running anything

override_dh_dwz:
	# do nothing in order to prevent running anything

override_dh_auto_build:
	# do nothing in order to prevent running anything

override_dh_strip:
	# do nothing in order to prevent running anything

override_dh_installsystemd:
	# do nothing in order to prevent running anything

override_dh_installdocs:
	# do nothing in order to prevent running anything

override_dh_auto_install:
	install -dm755 $(DESTDIR)/var/lib/oio-prometheus
	install -dm755 $(DESTDIR)/var/log/oio-prometheus
	install -D -m 755 prometheus $(DESTDIR)/usr/sbin/oio-prometheus
	install -D -m 755 promtool $(DESTDIR)/usr/bin/oio-promtool
	install -D -m 644 consoles/node.html $(DESTDIR)/usr/share/oio-prometheus/consoles/node.html
	install -D -m 644 consoles/index.html.example $(DESTDIR)/usr/share/oio-prometheus/consoles/index.html.example
	install -D -m 644 consoles/prometheus-overview.html $(DESTDIR)/usr/share/oio-prometheus/consoles/prometheus-overview.html
	install -D -m 644 consoles/node-disk.html $(DESTDIR)/usr/share/oio-prometheus/consoles/node-disk.html
	install -D -m 644 consoles/node-overview.html $(DESTDIR)/usr/share/oio-prometheus/consoles/node-overview.html
	install -D -m 644 consoles/node-cpu.html $(DESTDIR)/usr/share/oio-prometheus/consoles/node-cpu.html
	install -D -m 644 consoles/prometheus.html $(DESTDIR)/usr/share/oio-prometheus/consoles/prometheus.html
	install -D -m 644 console_libraries/menu.lib $(DESTDIR)/usr/share/oio-prometheus/console_libraries/menu.lib
	install -D -m 644 console_libraries/prom.lib $(DESTDIR)/usr/share/oio-prometheus/console_libraries/prom.lib
	install -D -m 644 NOTICE $(DESTDIR)/usr/share/oio-prometheus/NOTICE
	install -D -m 644 prometheus.yml $(DESTDIR)/usr/share/oio-prometheus/config/prometheus.yml
