Source: python-socketio2
Section: unknown
Priority: optional
Maintainer: Romain Acciari <romain.acciari@openio.io>
Build-Depends: debhelper (>= 9), dh-python, python-all, python-setuptools, python-six, python-engineio, python-mock
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/python-socketio2.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/python-socketio2.git;a=summary

Package: python-socketio2
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Conflicts: python-socketio
Description: Python Socket.IO server
 This project implements a Socket.IO server that can run standalone or
 integrated with a Python WSGI application.
