Source: oio-grid
Section: net
Priority: extra
Maintainer: OpenIO
Uploaders: OpenIO
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-1.10
Standards-Version: 3.9.8
Homepage: https://github.com/open-io/oio-grid
XS-Go-Import-Path: github.com/open-io/oio-grid

Package: grid-server
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Suggests: grid-client
Description: TODO

Package: grid-client
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: TODO
