Source: zookeeper
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: James Page <james.page@ubuntu.com>,
 tony mancill <tmancill@debian.org>
Build-Depends:
 ant (>= 1.6.0),
 ant-optional,
 autoconf,
 automake,
 debhelper (>= 9~),
 default-jdk (>= 2:1.6),
 default-jdk-doc,
 help2man,
 ivy-debian-helper,
 javacc,
 javahelper (>= 0.28),
 jetty9,
 junit4,
 libapacheds-java,
 libboost-dev,
 libcppunit-dev,
 libcommons-cli-java,
 libcommons-collections3-java,
 libcommons-io-java,
 libjackson-json-java,
 libjackson2-annotations-java,
 libjackson2-core-java,
 libjackson2-databind-java,
 libjackson2-dataformat-yaml,
 libjackson2-dataformat-xml-java,
 libjackson2-jr-java,
 libjline-java,
 liblog4cxx-dev,
 liblog4j1.2-java (>> 1.2.15-8),
 libmockito-java,
 libnetty-java,
 libslf4j-java,
 libtool,
 libxerces2-java,
 libxml2-dev,
 maven-debian-helper,
 maven-repo-helper,
 pkg-config,
 procps,
 python-all-dev,
 python-all-dbg,
 python-setuptools,
 python-sphinx,
 python3-all-dev,
 python3-all-dbg,
 python3-setuptools,
 python3-sphinx
Build-Depends-Indep: dh-python
Standards-Version: 4.1.4
Vcs-Git: https://salsa.debian.org/java-team/zookeeper.git
Vcs-Browser: https://salsa.debian.org/java-team/zookeeper
Homepage: https://zookeeper.apache.org

Package: libzookeeper-java
Architecture: all
Depends:
 libjline-java,
 liblog4j1.2-java (>> 1.2.15-8),
 libslf4j-java,
 libxerces2-java,
 ${misc:Depends}
Suggests: libzookeeper-java-doc
Description: Core Java libraries for zookeeper
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the java .jar files.

Package: zookeeper
Architecture: all
Depends:
 adduser,
 default-jre-headless | java6-runtime-headless,
 libzookeeper-java (= ${binary:Version}),
 ${misc:Depends}
Description: High-performance coordination service for distributed applications
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the shell scripts and an example configuration but does
 not automatically start up the service. The example configuration is installed
 with the update-alternatives mechanism.

Package: zookeeperd
Architecture: all
Depends: lsb-base (>= 3.2-14), zookeeper (= ${binary:Version}), ${misc:Depends}
Description: Init control scripts for zookeeper
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains init.d scripts to start and stop zookeeper and starts
 zookeeper on installation.

Package: libzookeeper-java-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: API Documentation for zookeeper
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.

Package: libzookeeper-mt2
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Multi threaded C bindings for zookeeper
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the multi-threaded libraries for the C bindings.

Package: libzookeeper-st2
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Single threaded C bindings for zookeeper
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the single-threaded libraries for the C bindings.

Package: libzookeeper-mt-dev
Architecture: any
Section: libdevel
Replaces: libzookeeper-dev
Provides: libzookeeper-dev
Depends:
 libzookeeper-mt2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Conflicts: libzookeeper-dev
Description: Development files for multi threaded zookeeper C bindings
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the development files for the multi threaded C bindings.

Package: libzookeeper-st-dev
Architecture: any
Section: libdevel
Replaces: libzookeeper-dev
Provides: libzookeeper-dev
Depends:
 libzookeeper-st2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Conflicts: libzookeeper-dev
Description: Development files for single threaded zookeeper C bindings
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the development files for the single threaded C bindings.

Package: zookeeper-bin
Architecture: any
Section: misc
Depends:
 libzookeeper-mt2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Description: Command line utilities for zookeeper
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains additional zookeeper command line utilities using the C
 binding. See the "zookeeper" package for command line utilities using the java
 binding.

Package: python-zookeeper
Architecture: any
Section: python
Provides: ${python:Provides}
Depends:
 libzookeeper-mt2 (= ${binary:Version}),
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
Description: Python bindings for zookeeper
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the Python bindings.

Package: python3-zookeeper
Architecture: any
Section: python
Provides: ${python3:Provides}
Depends:
 libzookeeper-mt2 (= ${binary:Version}),
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends}
Description: Python3 bindings for zookeeper
 ZooKeeper is a centralized, reliable, service for maintaining configuration
 information, naming, providing distributed synchronization, and group
 services. All of these kinds of services are used in some form or another by
 distributed applications.
 .
 This package contains the Python3 bindings.
