#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/default-java

PYVERS := 2 3
DEB_UPSTREAM_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^+]+).*,\1,p')
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_CHANGELOG_DATETIME = $(shell dpkg-parsechangelog --show-field Date)

ANT_ARGS = -Dversion=$(DEB_UPSTREAM_VERSION) \
           -DlastRevision=-1 \
           -Dapache-directory-api.version=debian \
           -Divy.home=/tmp \
	   -d

%:
	dh $@ --buildsystem=ivy --with javahelper --with python2 --with python3

override_dh_auto_build:
	# JUTE compilation
	dh_auto_build -- $(ANT_ARGS) compile_jute

	# Build zookeeper jars
	dh_auto_build -- $(ANT_ARGS)

	# Compile C library
	cd zookeeper-client/zookeeper-client-c && \
	{ test -x configure || autoreconf --install ; } && \
	./configure --prefix=/usr --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)
	$(MAKE) -C zookeeper-client/zookeeper-client-c

	# Compile contribs - zooinspector
	dh_auto_build -- -f zookeeper-contrib/zookeeper-contrib-zooinspector/build.xml $(ANT_ARGS)
	# rename JAR file to comply with Debian Java policy
	mv -fv build/zookeeper-contrib/zookeeper-contrib-zooinspector/zookeeper-3.5.6-1oio-zooinspector.jar \
	       build/zookeeper-contrib/zookeeper-contrib-zooinspector/zookeeper-zooinspector.jar

	# Build Python Bindings
	cd zookeeper-contrib/zookeeper-contrib-zkpython && \
	sed -E -e 's,(version = ")[^"]+,\1%{version},' -i src/python/setup.py && \
	for pv in $(PYVERS); do \
	  python$$pv src/python/setup.py build --build-base=$(CURDIR)/build ; \
	done

	# Compile zktreeutil and generate man page
	#cd zookeeper-contrib/zookeeper-contrib-zktreeutil && autoreconf -if && ./configure --prefix=/usr --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) && make
	#LD_LIBRARY_PATH=src/c/.libs help2man -N --version-string=0.0 zookeeper-contrib/zookeeper-contrib-zktreeutil >zktreeutil.man

override_dh_install:
	$(MAKE) -C zookeeper-client/zookeeper-client-c install DESTDIR=$(CURDIR)/debian/tmp
	cd zookeeper-contrib/zookeeper-contrib-zkpython && \
	  for pv in $(PYVERS); do \
	    python$$pv src/python/setup.py build --build-base=$(CURDIR)/build \
	               install --root=$(CURDIR)/debian/tmp --install-layout=deb ;\
	  done
	# Generate install files for Multiarch capability
	for install in libzookeeper-mt2 libzookeeper-st2 \
				   libzookeeper-st-dev libzookeeper-mt-dev; do \
		sed -e 's/__ARCH__/$(DEB_HOST_MULTIARCH)/g' debian/$$install.install.in \
			> debian/$$install.install; \
	done

	# Install the Maven artifacts
	mh_installpom -plibzookeeper-java debian/pom.xml
	#mh_installjar -plibzookeeper-java --java-lib --has-package-version debian/pom.xml build/zookeeper.jar
	dh_install

override_dh_clean:
	mh_clean
	dh_clean --exclude=src/java \
             --exclude=src/docs \
             --exclude=src/c \
             --exclude=src/reciped
	jh_clean
	# Clean generated install files
	for install in libzookeeper-mt2 libzookeeper-st2 \
				   libzookeeper-st-dev libzookeeper-mt-dev; do \
		[ ! -f debian/$$install.install ] || rm debian/$$install.install; \
	done

# the original build.xml deletes too much
override_dh_auto_clean:
	dh_auto_clean
	rm -rf .revision
	rm -rf build
	rm -rf src/c/generated
	rm -rf src/java/generated
	rm -rf src/java/lib/*.jar
	rm -rf src/java/main/org/apache/jute/compiler/generated/*.java
	rm -f zookeeper*.jar
	[ ! -f src/c/Makefile ] || $(MAKE) -C src/c distclean
	rm -f src/c/config.log src/c/config.status
	[ ! -f src/contrib/zktreeutil/Makefile ] || $(MAKE) -C src/contrib/zktreeutil distclean
	rm -rf src/contrib/zktreeutil/autom4te.cache
	rm -rf src/contrib/zktreeutil/Makefile.in
	rm -rf src/contrib/zktreeutil/aclocal.m4
	rm -rf src/contrib/zktreeutil/config.h.in
	rm -rf src/contrib/zktreeutil/configure
	rm -rf src/contrib/zktreeutil/depcomp
	rm -rf src/contrib/zktreeutil/install-sh
	rm -rf src/contrib/zktreeutil/missing
	rm -rf src/contrib/zktreeutil/src/Makefile.in
	rm -rf zktreeutil.man
	rm -rf src/c/Makefile.in
	rm -rf src/c/aclocal.m4
	rm -rf src/c/autom4te.cache
	rm -rf src/c/compile
	rm -rf src/c/config.guess
	rm -rf src/c/config.sub
	rm -rf src/c/configure
	rm -rf src/c/ltmain.sh
	rm -rf src/c/TEST-*

override_dh_installinit:
	dh_installinit --name=zookeeper
