Source: loki
Section: net
Priority: extra
Maintainer: OpenIO
Uploaders: OpenIO
Build-Depends: debhelper (>= 12),
#              golang-go (>= 1.12),
               wget,
               unzip
Standards-Version: 3.9.8
Homepage: https://github.com/grafana/loki

Package: loki
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: 
 Loki is a horizontally-scalable, highly-available,
 multi-tenant log aggregation system inspired by Prometheus.
