#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/loki

include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_clean:
	# do nothing in order to keep the content of the dist/ directory

override_dh_auto_test:
	# do nothing in order to prevent running anything

override_dh_dwz:
	# do nothing in order to prevent running anything

override_dh_auto_build:
	wget --no-check-certificate https://github.com/grafana/loki/releases/download/v1.3.0/loki-linux-amd64.zip && \
	unzip loki-linux-amd64.zip
	wget --no-check-certificate https://github.com/grafana/loki/releases/download/v1.3.0/logcli-linux-amd64.zip && \
	unzip logcli-linux-amd64.zip
	#make loki
	#make logcli

override_dh_auto_install:
	install -dDm0755 $(DESTDIR)/usr/sbin
	install -m0755 loki-linux-amd64 $(DESTDIR)/usr/sbin/loki
	install -m0755 logcli-linux-amd64 $(DESTDIR)/usr/sbin/logcli
	#install -dDm0755 $(DESTDIR)/usr/share/doc/loki
	#install -m0755 cmd/loki/loki cmd/logcli/logcli $(DESTDIR)/usr/sbin
	#install -m0644 README.md LICENSE $(DESTDIR)/usr/share/doc/loki
	#install -m0644 cmd/loki/loki-local-config.yaml $(DESTDIR)/usr/share/doc/loki/loki.yaml
