[Unit]
Description=OpenIO Dashboard Celery Beat
After=network.target

[Service]
User=openio
Group=openio
WorkingDirectory=/home/openio
Environment="OIO_DASHBOARD_CONF=/etc/openio_dashboard/"
ExecStart=/usr/bin/celery --app=openio_dashboard.celery:app beat --loglevel=ERROR
Restart=on-failure

[Install]
WantedBy=multi-user.target
