Source: openio-shinken-import
Section: unknown
Priority: optional
Maintainer: Vladimir DOMBROVSKI <vladimir@openio.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
X-Python-Version: >= 2.6

Package: openio-shinken-import
Architecture: all
Depends: ${misc:Depends}, python, python-requests (>= 2.8.1), python-simplejson (>= 3.8.1), shinken
Description: OpenIO Shinken Import Module
 Shinken module allowing to import an inventory from the REST API
