Source: openio-billing
Section: python
Priority: optional
Maintainer: Romain Acciari <romain.acciari@openio.io>
Build-Depends:
 debhelper (>= 9~),
 dh-python,
 python-all-dev (>= 2.7),
 python-setuptools (>= 20.7.0-1)
Standards-Version: 3.9.6
X-Python-Version: >= 2.7
Homepage: http://www.openio.io
#Vcs-Git: https://github.com/open-io/oio-billing
#Vcs-Browser: https://github.com/open-io/oio-billing

Package: openio-billing
Architecture: any
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-pkg-resources,
 python-simplejson,
 openio-sds
Conflicts:
Provides: openio-billing
Description: OpenIO Billing service
