#!/usr/bin/make -f

-include /usr/share/openstack-pkg-tools/pkgos.make

export SWIFT_TEST_CONFIG_FILE=$(CURDIR)/debian/swift-test.conf

# VL: FIXME: disabled failing tests: middleware & locale
export PYBUILD_TEST_ARGS=\
	test/unit \
	--exclude-test=test.unit.common.test_utils.TestUtils.test_get_logger_sysloghandler_plumbing \
	--exclude-test=test.unit.common.middleware.test_bulk.TestUntar.test_extract_tar_fail_unicode \
	--exclude-test=test.unit.common.middleware.test_bulk.TestUntar.test_extract_tar_works \
	--exclude-test=test.unit.test_locale.test_locale.TestTranslations.test_translations \
	# --processes=-1

%:
	dh $@ --buildsystem=pybuild --with python3,sphinxdoc

override_dh_installinit:
	echo "Do nothing"

override_dh_installsystemd:
	echo "Do nothing"

override_dh_auto_test:
	echo "Do nothing"

gen-init-configurations:
	echo "Do nothing"

# build with sphinx documentation
override_dh_sphinxdoc:
ifeq (,$(findstring nodocs, $(DEB_BUILD_OPTIONS)))
	LC_ALL=C.UTF-8 PYTHONPATH=. python3 -m sphinx doc/source $(CURDIR)/debian/swift-doc/usr/share/doc/swift-doc/base
	LC_ALL=C.UTF-8 PYTHONPATH=. python3 -m sphinx api-ref/source $(CURDIR)/debian/swift-doc/usr/share/doc/swift-doc/api-ref
	dh_sphinxdoc
endif

override_dh_installdocs:
	dh_installdocs

	dh_installdocs -A AUTHORS

#override_dh_missing:
#	echo "Do nothing"
