#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/openio-netdata-plugins

include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_build:
	cd .. && \
	wget --no-check-certificate https://github.com/go-redis/redis/archive/v6.12.0.tar.gz && \
	wget --no-check-certificate https://github.com/aws/aws-sdk-go/archive/v1.19.37.tar.gz && \
	wget --no-check-certificate https://github.com/go-yaml/yaml/archive/v2.2.7.tar.gz && \
	tar zxf v6.12.0.tar.gz && \
	tar zxf v1.19.37.tar.gz && \
	tar zxf v2.2.7.tar.gz && \
	mkdir -p go/src/github.com/go-redis go/src/github.com/aws go/src/gopkg.in && \
	ls -l && \
	cd go/src && \
	ls -l && \
	ln -s ../../openio-netdata-plugins-* oionetdata && \
	cd github.com/go-redis && \
	ls -l && \
	ln -s ../../../../redis-* redis && \
	cd ../.. && \
	cd github.com/aws && \
	ls -l && \
	ln -s ../../../../aws-* aws-sdk-go && \
	cd ../.. && \
	cd gopkg.in && \
	ls -l && \
	ln -s ../../../yaml-* yaml.v2
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/openio.plugin/openio.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/zookeeper.plugin/zookeeper.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/container.plugin/container.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/command.plugin/command.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/fs.plugin/fs.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/s3roundtrip.plugin/s3roundtrip.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/redis.plugin/redis.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/memcached.plugin/memcached.plugin.go
	GOPATH=$(shell pwd)/../go /usr/lib/go-1.10/bin/go build cmd/beanstalk.plugin/beanstalk.plugin.go

override_dh_auto_install:
	mkdir -pv $(DESTDIR)/usr/lib/x86_64-linux-gnu/netdata/plugins.d
	install -m 0755 \
		openio.plugin \
		zookeeper.plugin \
		command.plugin \
		fs.plugin \
		container.plugin \
		redis.plugin \
		s3roundtrip.plugin \
		memcached.plugin \
		beanstalk.plugin \
		$(DESTDIR)/usr/lib/x86_64-linux-gnu/netdata/plugins.d
