#!/usr/bin/make -f

DESTDIR=$(CURDIR)/debian/oio-exporter

include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_clean:
	# do nothing in order to keep the content of the dist/ directory

override_dh_auto_test:
	# do nothing in order to prevent running anything

override_dh_dwz:
	# do nothing in order to prevent running anything

override_dh_auto_build:
	curl -Lqsko - https://dl.google.com/go/go1.14.2.linux-amd64.tar.gz | tar -xzf - go/bin go/pkg go/src
	GOPATH=$(CURDIR)/go PATH=$(CURDIR)/go/bin:${PATH} GOCACHE=$(CURDIR)/go/.cache make build

override_dh_strip:
	# do nothing in order to prevent running anything

override_dh_installsystemd:
	# do nothing in order to prevent running anything

override_dh_installdocs:
	# do nothing in order to prevent running anything

override_dh_auto_install:
	install -D -m 755 oio-exporter $(DESTDIR)/usr/sbin/oio-exporter
	install -D -m 644 README.md $(DESTDIR)/usr/share/oio-exporter/README.md
	install -D -m 644 healthchecks.yml $(DESTDIR)/usr/share/oio-exporter/healthcheacks.yml
	install -D -m 644 log_patterns.yml $(DESTDIR)/usr/share/oio-exporter/log_patterns.yml
	install -D -m 644 versions.yml $(DESTDIR)/usr/share/oio-exporter/versions.yml
